/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Переменные */
$fontRoboto: Roboto, serif;
$blackColor: #000000;

.header {
  width: 100%;
  background: #090808;
  height: 80px;
  display: flex;
  align-items: center;

  &__img {
    margin-left: 32px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.app {
  display: flex;
  justify-content: space-around;
  min-height: calc(100vh - 160px);

  &__item {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.form {
  border: 1px solid $blackColor;
  padding: 32px 16px;
  margin-top: 200px;
  height: 278px;
  width: 400px;

  label {
    font-size: 16px;
    color: $blackColor;
    font-family: $fontRoboto;

    @media screen and(max-width:991px) {
      font-size: 14px;
    }
  }

  @media screen and(max-width: 1200px) {
    width: 350px;
  }

  @media screen and(max-width: 768px) {
    margin: 30px 0;
  }

  @media screen and(max-width: 376px) {
    width: 290px;
    height: 268px;
  }
}

.welcome {

  &__title {
    margin-top: 80px;

    h1 {
      font-family: $fontRoboto;
      font-weight: bold;
      font-size: 72px;
      color: $blackColor;

      @media screen and(max-width:1200px) {
        font-size: 62px;
      }

      @media screen and(max-width:1024px) {
        font-size: 52px;
      }

      @media screen and(max-width:991px) {
        font-size: 48px;
      }

      @media screen and(max-width:376px) {
        font-size: 38px;
      }
    }

    @media screen and (max-width: 768px) {
      margin-top: 10px;
      text-align: center;
    }
  }

  &__text {
    p {
      font-family: $fontRoboto;
      font-size: 32px;
      color: $blackColor;

      @media screen and(max-width:1200px) {
        font-size: 28px;
      }

      @media screen and(max-width:1024px) {
        font-size: 24px;
      }

      @media screen and(max-width:991px) {
        font-size: 18px;
      }

      @media screen and(max-width:376px) {
        font-size: 16px;
      }
    }
  }
}

.noteItem {
  &__text {
    margin-top: 58px;
  }

  &__list {
    p {
      font-size: 32px;
      font-family: $fontRoboto;
      color: $blackColor;

      @media screen and(max-width:1200px) {
        font-size: 28px;
      }

      @media screen and(max-width:1024px) {
        font-size: 24px;
      }

      @media screen and(max-width:991px) {
        font-size: 18px;
      }

      @media screen and(max-width:376px) {
        font-size: 16px;
      }
    }
  }
}

.noteList {
  margin: 58px 0 8px 0;

  &__text {
    p {
      font-size: 32px;
      font-family: $fontRoboto;
      color: $blackColor;

      @media screen and(max-width:1200px) {
        font-size: 28px;
      }

      @media screen and(max-width:1024px) {
        font-size: 24px;
      }

      @media screen and(max-width:991px) {
        font-size: 18px;
      }

      @media screen and(max-width:376px) {
        font-size: 16px;
      }
    }

    @media screen and(max-width: 768px) {
      text-align: center;
    }
  }

  @media screen and(max-width: 768px) {
    margin-top: 20px;
    text-align: center;
  }
}

.footer {
  background: #737373;
  width: 100%;
  height: 160px;
  bottom: 0;
  display: flex;
  align-items: center;

  &__img {
    margin-left: 32px;
  }

  @media screen and(max-width: 768px) {
    height: 100px;
  }
}